# Module 10 Task 1 - Interaction with API's

The goal of this project is to interact with the football-data API, and to find out which teams are the best at holding on wins at home (winning at half-time and winning at the end) and which are the best at turning the score around in the second half, regardless of whether it's at home or away. For both cases, we're interested in knowing not only how many times they've done it, but above all the percentage of score they've turned around / kept.

Import libraries

In [1]:
import requests
import pandas as pd
import json

Declare our variables and make the GET request to the API endpoint

In [53]:
# id of the competition we want to get our data from, in this case #2013 is the Brazilian League
id = 2013
url = f"http://api.football-data.org/v4/competitions/{id}/matches"

# headers for the GET request, the need to pass our Authentication Token
headers = {"X-Auth-Token": "be7154bc799640df977f1223ab78ae8b"}

response = requests.get(url, headers=headers)
response = json.loads(response.text)

We get our matches data by converting our JSON or dictionary object into a pandas dataframe.

In [61]:
matches_df = pd.json_normalize(response["matches"])
#print(response)
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      380 non-null    int64
 1   utcDate                 380 non-null    object
 2   status                  380 non-null    object
 3   matchday                380 non-null    int64
 4   stage                   380 non-null    object
 5   group                   0 non-null      object
 6   lastUpdated             380 non-null    object
 7   referees                380 non-null    object
 8   area.id                 380 non-null    int64
 9   area.name               380 non-null    object
 10  area.code               380 non-null    object
 11  area.flag               380 non-null    object
 12  competition.id          380 non-null    int64
 13  competition.name        380 non-null    object
 14  competition.code        380 non-null    object
 15  competition.type        380 non-null    object
 16  competition.emblem      380 non-null    object
 17  season.id               380 non-null    int64
 18  season.startDate        380 non-null    object
 19  season.endDate          380 non-null    object
 20  season.currentMatchday  380 non-null    int64
 21  season.winner           0 non-null      object
 22  homeTeam.id             380 non-null    int64
 23  homeTeam.name           380 non-null    object
 24  homeTeam.shortName      380 non-null    object
 25  homeTeam.tla            380 non-null    object
 26  homeTeam.crest          380 non-null    object
 27  awayTeam.id             380 non-null    int64
 28  awayTeam.name           380 non-null    object
 29  awayTeam.shortName      380 non-null    object
 30  awayTeam.tla            380 non-null    object
 31  awayTeam.crest          380 non-null    object
 32  score.winner            45 non-null     object
 33  score.duration          380 non-null    object
 34  score.fullTime.home     45 non-null     float64
 35  score.fullTime.away     45 non-null     float64
 36  score.halfTime.home     45 non-null     float64
 37  score.halfTime.away     45 non-null     float64
 38  odds.msg                380 non-null    object
dtypes: float64(4), int64(8), object(27)
memory usage: 115.9+ KB

There are columns that are useless for our analysis

In [62]:
# We type the name of the columns we are droping, we also specify that the removal is to axis 1 which are the columns

matches_df = matches_df.drop(["stage", "utcDate","group", "lastUpdated", "referees", "area.id", "area.name", "status", 'area.code', 'area.flag',
       'competition.id','competition.code', "competition.name", "matchday",
       'competition.type', 'competition.emblem', 'season.id',
       'season.startDate', 'season.endDate', 'season.currentMatchday','homeTeam.crest','awayTeam.crest', 'score.duration',
       'season.winner','homeTeam.name','awayTeam.name','odds.msg', "awayTeam.tla", "homeTeam.tla"], axis=1)

matches_df.head()

,id,homeTeam.id,homeTeam.shortName,awayTeam.id,awayTeam.shortName,score.winner,score.fullTime.home,score.fullTime.away,score.halfTime.home,score.halfTime.away
0,493753,6684,Internacional,1777,Bahia,HOME_TEAM,2.0,1.0,0.0,0.0
1,493762,4243,Criciúma,4245,Juventude,DRAW,1.0,1.0,1.0,0.0
2,493756,1765,Fluminense,4286,Bragantino,DRAW,2.0,2.0,1.0,0.0
3,493759,1776,São Paulo,3984,Fortaleza,AWAY_TEAM,1.0,2.0,0.0,0.0
4,493757,1780,Vasco da Gama,1767,Grêmio,HOME_TEAM,2.0,1.0,2.0,0.0